<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.animal.app.mapper.PetHospitalShopPhotoMapper">
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="photo != null and photo != ''">
                photo,
            </if>
            <if test="petShopHospitalId != null and petShopHospitalId != ''">
                pet_shop_hospital_id,
            </if>
        </trim>
    </sql>
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="photo != null and photo != ''">
                #{photo},
            </if>
            <if test="petShopHospitalId != null and petShopHospitalId != ''">
                #{petShopHospitalId},
            </if>
        </trim>
    </sql>
    <select id="selectAll" resultType="PetHospitalShopPhoto">
        select *
        from pet_hospital_shop_photo
        limit #{page},#{num};
    </select>
    <select id="selectById" resultType="PetHospitalShopPhoto" parameterType="java.lang.String">
        select *
        from pet_hospital_shop_photo
        where id = #{id}
    </select>
    <select id="count" resultType="String">
        select count(*)
        from pet_hospital_shop_photo
    </select>
    <select id="selectByPetShopHostialId" resultType="PetHospitalShopPhoto">
        select *
        from pet_hospital_shop_photo
        where pet_shop_hospital_id = #{id}
    </select>
    <insert id="insertInfo" parameterType="PetHospitalShopPhoto">
        insert into pet_hospital_shop_photo (<include refid="key"></include>)
        values (<include refid="value"></include>);
    </insert>

    <update id="updateById" parameterType="PetHospitalShopPhoto">
        update pet_hospital_shop_photo
        <trim prefix="set" suffixOverrides=",">
            <if test="photo != null and photo != ''">
                photo = #{photo},
            </if>
            <if test="petShopHospitalId != null and petShopHospitalId != ''">
                pet_shop_hospital_id = #{petShopHospitalId},
            </if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteById" parameterType="java.lang.String">
        delete
        from pet_hospital_shop_photo
        where id = #{id};
    </delete>

</mapper>