<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.animal.app.mapper.PetShopHospitalMapper">
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="type != null and type != ''">
                type,
            </if>
            <if test="location != null and location != ''">
                location,
            </if>
            <if test="evaluate != null and evaluate != ''">
                evaluate,
            </if>
            <if test="description != null and description != ''">
                `description`,
            </if>
            <if test="createUserId != null and createUserId != ''">
                create_user_id,
            </if>
            <if test="license != null and license != ''">
                license,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="qq != null and qq != ''">
                qq,
            </if>
            <if test="wx != null and wx != ''">
                `wx`,
            </if>
        </trim>
    </sql>
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="type != null and type != ''">
                #{type},
            </if>
            <if test="location != null and location != ''">
                #{location},
            </if>
            <if test="evaluate != null and evaluate != ''">
                #{evaluate},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
            <if test="createUserId != null and createUserId != ''">
                #{createUserId},
            </if>
            <if test="license != null and license != ''">
                #{license},
            </if>
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="qq != null and qq != ''">
                #{qq},
            </if>
            <if test="wx != null and wx != ''">
                #{wx},
            </if>
        </trim>
    </sql>
    <select id="selectAll" resultType="PetShopHospital">
        select *
        from pet_shop_hospital
        limit #{page},#{num};
    </select>
    <select id="selectById" resultType="PetShopHospital" parameterType="java.lang.String">
        select *
        from pet_shop_hospital
        where id = #{id}
    </select>
    <select id="count" resultType="String">
        select count(*)
        from pet_shop_hospital
    </select>
    <insert id="insertInfo" parameterType="PetShopHospital">
        insert into pet_shop_hospital (<include refid="key"></include>)
        values (<include refid="value"></include>);
    </insert>

    <update id="updateById" parameterType="PetShopHospital">
        update pet_shop_hospital
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
            <if test="evaluate != null and evaluate != ''">
                evaluate = #{evaluate},
            </if>
            <if test="description != null and description != ''">
                `description` = #{description},
            </if>
            <if test="createUserId != null and createUserId != ''">
                create_user_id = #{createUserId},
            </if>
            <if test="license != null and license != ''">
                license = #{license},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="qq != null and qq != ''">
                qq = #{qq},
            </if>
            <if test="wx != null and wx != ''">
                `wx` = #{wx},
            </if>
        </trim>
        where id = #{id}
    </update>


    <delete id="deleteById" parameterType="java.lang.String">
        delete
        from pet_shop_hospital
        where id = #{id};
    </delete>
</mapper>